/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.908);
}

h1, main {
 color: gainsboro;
 text-shadow: 2px 4px 4px black;
}

main {
  border: solid gainsboro 2px;
  border-radius: 6px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
  url(./background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 70%;
  height: 80%;
}

fieldset {
  width: 50%;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
}

aside {
  font-weight: bold;
  font-size: 40px;
  margin: 5px 5px 5px 5px;

}

button {
  margin: 5px 5px 5px 5px;
}
